## Ignore Visual Studio files
.vs/
*.user
*.suo
*.sln.docstates

## Ignore build results
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb

## Ignore packages
packages/

## Ignore other temp files
*.log
*.cache
*.tmp
*.bak
*.db

## OS specific
Thumbs.db
ehthumbs.db
.DS_Store
QuanLyThuQuan/bin/
QuanLyThuQuan/obj/
[Bb]in/
[Oo]bj/
QuanLyThuQuan/bin/
QuanLyThuQuan/obj/
QuanLyThuQuan/.vs/
.vs/

.vs/QuanLyThuQuan/v17/DocumentLayout.json
.vs/QuanLyThuQuan/v17/DocumentLayout.backup.json
vs/
.vscode/
../vs/