<div class="navbar">
    <div class="logo">
        <a asp-controller="Home" asp-action="Index">Thư Quán SV</a>
    </div>
    <ul class="nav-links">
        <li><a asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
        <li><a asp-controller="Home" asp-action="Devices">Thiết Bị</a></li>

        @if(User.Identity != null && User.Identity.IsAuthenticated)
        {
            <li class="profile-link">
                <a asp-controller="Action" asp-action="Profile">@User.Identity.Name</a>
            </li>
            <li class="logout-link">
                <a asp-controller="Account" asp-action="Logout">Đăng Xuất</a>
            </li>
        }
        else
        {
            <li><a asp-controller="Account" asp-action="Login">Đăng Nhập</a></li>
            <li><a asp-controller="Account" asp-action="Register">Đăng Ký</a></li>
        }
    </ul>
</div>
