@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(TempData["username"] != null)
{
    <script>
        sessionStorage.setItem("username", "@TempData["Username"]");
    </script>
}

<h1>Chào mừng đến với Thư Quán SV</h1>
<!-- Nội dung trang chủ -->